.wrapper {
    /* display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center; */

    background-color: #C0E8FF;
    border-radius: 4px;
    margin-top: 4px;
    padding: 4px 8px;
}

.title {
    color: #0070AE;
}

p {
    margin: 0;
}