.top {
    display: flex;
    align-items: center;
    /* gap: 4px; */
    justify-content: space-between;
    /* flex-direction: row; */
    /* align-items: center;
    justify-content: space-between; */
    padding: 0 3em;
    margin: 1em 0;
}

.top .newButton {
    background-color: #006fad;
    color: white;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.top .newButton:hover {
    opacity: 0.7;
}

